@charset "UTF-8";

body {
	--satisfy:'Satisfy';
	--caveat: 'Caveat', cursive;
	--sueellenfrancisco: 'Sue Ellen Francisco';
	
	--navbarfont:var(--satisfy);
	--bodytextfont:var(--caveat);
	--titlefont:var(--sueellenfrancisco);
	--subtitlefont:var(--satisfy);
	
	--textsizereg:1.6em;
	--textsizetitle:4em;
	--textsizesub:1.7em;
	--textsizenavb:1.5em;
	--textsizenavbresized:1.5em;
	
	--navbhigh:#f4e04d;
	--navbhightext:white;
	--navbreg:#faa916;
	--navbpage:#2274A5;
	--navbtext:white;
	--navbdropback:#f2ed65;
	--navbdroptext:#f9f9f9;
	--navbdrophigh:#f4e04d;
	--navbdrophightext:#f9f9f9;
	
	--background:#fbf2b7;
	--ptext:#131b23;
	--pfill:white;
	--pborder:white;
	--ptitle:#2274a5;
	--title:#131b23;
	--sub:white;
	--mark:#131b23;
	--link:#2274a5;
	
	--columnpad:1.25em;
	--bottompad:0em;
	--toppad:0em;
	
	--textpad:0em;
	--mosttextmargin:2.5em;
	--toptextmargin:4em;
	
	--parheight:13em;
	
	--border:1.5em;
		
	margin:0;
}

/*Code for navigation bar borrowed from W3Schools (https://www.w3schools.com/Css/css_navbar_horizontal.asp)*/
ul.navbar{
	list-style-type: none;
	background-color:var(--navbreg);
	padding: 10px 20px 10px;
	position: sticky;
	top:0;
	z-index: 1;
	margin: 0px;
}

.navbar a{
	font-family:var(--navbarfont);
	color:var(--navbtext);
	padding: 10px 20px 10px;
	text-decoration:none;
	font-size:var(--textsizenavb);
	line-height:50px;
	display:block;
	float:left;
	text-allign: center;
}

.navbar a.active{
	background-color:var(--navbpage);
	color:var(--navbtext);
}

li a, .dropbtn {
  display: var(--navbdropback);
  color: var(--navbdroptext);
  text-align: center;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
	background-color:var(--navbdrophigh);
	color:var(--navbhightext);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--navbdropback);
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: var(--navbdroptext);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
	background-color:var(--navbdrophigh);
	color:var(--navbhightext);
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .navbar a {float: none; font-size:var(--textsizenavbresized);	padding: 5px 10px 5px;line-height:25px;	position: none;}
}


mark{
	
	background-color:var(--mark);
	color:var(--sub);
	padding:.1em;
}

body{
	background-color:var(--background);
}

p{
	font-family: var(--satisfy);
	font-size: var(--textsizereg);
	color:var(--ptext);
}

.link {
	color: var(--link);
	text-decoration: none;
}

img{
	margin:.5em;
}

.titletext{
	padding-top:var(--parheight);
	padding-bottom:var(--parheight);
}

h1{
	font-family: var(--titlefont);
	color:var(--title);
	font-size:var(--textsizetitle);
	margin:auto;
	font-weight:normal;
	text-align:center;
}

.subtitle{
	font-family: var(--titlefont);
	color:var(--sub);
	font-size:var(--textsizesub);
	margin:auto;
	font-weight:normal;
	text-align:center;
}

.topsecret{
	font-family: var(--verysecretfont);
	color:var(--sub);
	font-size:var(--textsizesub);
	margin:auto;
	font-weight:normal;
	text-align:center;
}


h2{
	font-family: var(--subtitlefont);
	color:var(--ptitle);
	font-size:var(--textsizesub);
	font-weight:normal;
}

h4{
	color:var(--link);
	margin-top:0;
	margin-bottom:0.4em;
}

.blob{
	padding:var(--toppad) var(--columnpad) var(--bottompad) var(--columnpad);
	
	border-style: solid;
	border-width: var(--border);
	border-color:var(--pborder);
	border-radius: 2px;
	
	background-color:var(--pfill);
	
	margin:var(--mosttextmargin);
	margin-top:var(--toptextmargin);
	
	overflow: auto;
	
	font-family: var(--bodytextfont);
	font-size: var(--textsizereg);
	color:var(--ptext);
} 

.shortblob{
	padding:var(--toppad) var(--columnpad) var(--bottompad) var(--columnpad);
	
	border-style: solid;
	border-width: var(--border);
	border-color:var(--pborder);
	border-radius: 2px;
	
	height: 500px;
	
	background-color:var(--pfill);
	
	margin:var(--mosttextmargin);
	margin-top:var(--toptextmargin);
	
	overflow: auto;
} 

.firsthalf{
	width: 37.5%;
	float: left;
	padding:var(--toppad) var(--columnpad) var(--bottompad) var(--columnpad);
	
	border-style: solid;
	border-width: var(--border);
	border-color:var(--pborder);
	border-radius: 2px;
	
	background-color:var(--pfill);
	
	margin:var(--mosttextmargin);
	margin-top:var(--toptextmargin);
	
	overflow: auto;
} 

.secondhalf{
	width: 37.5%;
	float: right;
	padding:var(--toppad) var(--columnpad) var(--bottompad) var(--columnpad);
	
	border-style: solid;
	border-width: var(--border);
	border-color:var(--pborder);
	border-radius: 2px;
	
	background-color:var(--pfill);
	
	margin:var(--mosttextmargin);
	margin-top:var(--toptextmargin);
	
	overflow: auto;
} 

.floatright{
	float: right;
}

.floatleft{
	float: left;
}

.pickyourfilter{
	filter: contrast(50%) brightness(100%);
}

.prules{
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	height:var(--parheight);